.wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: var(--default-layouts-width);
    max-width: 100%;
    padding: 0;
    margin-top: 60px;
    min-height: 1000px;
    display: flex;
}
.content{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}