.wrapper{
   display: flex;
   padding: 9px 16px;

   &:hover{
     background-color: rgba(22, 24, 35, 0.03);
   }
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info{
    margin-left: 12px;
  flex: 1;
}

.name{
    color: rgb(32, 213, 236);
    span{
      margin-right: 4px;
    color: var(--black-color);
  }
}

.user-name{
    color: rgba(22, 24, 35, 0.5);
    font-weight: 300;
}
